#ttab{
    height: auto;
}

.nav{
    font-family:'Courier New';
    font-weight: bolder;
    font-size: larger;
    justify-content: center;
    padding-top: 5px;
    align-items: center;
    width: 87vw;
}

.TabContent{
    width: 87vw;
}